<div id="page_wrapper">
	<div id="profile_image">
		<img src="http://placekitten.com/g/80/80" alt="Me">
	</div>

	<div id="content">
		<h3>Hi there, this is my blog post application. </h3>
	</div>
</div>